<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597133615765-udipqpujkg7admqodhtfr5bpjjkd5ild.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597133615765-udipqpujkg7admqodhtfr5bpjjkd5ild</string>
	<key>API_KEY</key>
	<string>AIzaSyBq57FAy8z48RgeT9Opg0U4bI44Qz7dzOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>597133615765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.barberia</string>
	<key>PROJECT_ID</key>
	<string>barberia-816c1</string>
	<key>STORAGE_BUCKET</key>
	<string>barberia-816c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597133615765:ios:8056fbf7f86a387ecb719c</string>
</dict>
</plist>